*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-image: url(https://matheusnunes133.github.io/ProjetoFinalGerencia/Imagens/Fundo.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size:cover;
}